* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3,
span,
p {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center/cover url('../img/background/background-desk.webp') no-repeat;
  height: 100lvh;
  .card-forecast:has(.wrapper) {
    max-height: 600px;
  }
  .card-forecast:has(.error-wrapper) {
    max-height: 400px;
  }
  .card-forecast {
    color: #fff;
    background-color: rgba($color: #000, $alpha: 0.4);
    border-radius: 20px;
    border: 1px solid rgba($color: #000, $alpha: 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    height: auto;
    max-height: 87px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 20px 1rem;
    transition: max-height 2s;
    animation: elAnim 0.5s ease-in-out both;
    form {
      position: relative;
      .location-icon {
        position: absolute;
        top: 5px;
        left: 7px;
        animation: elAnim 0.5s ease-in 0.2s both;
      }
      input {
        background-color: transparent;
        font-family: 'Roboto Condensed', sans-serif;
        width: 16rem;
        height: 35px;
        border-radius: 10px;
        border: 1px solid rgba($color: #fff, $alpha: 0.6);
        color: #fff;
        outline: none;
        font-size: 20px;
        padding: 0px 30px 0px 40px;
        margin-bottom: 10px;
        animation: elAnim 0.5s ease-in 0.25s both;
        &::placeholder {
          color: rgba($color: #fff, $alpha: 0.6);
        }
      }
      button {
        position: absolute;
        cursor: pointer;
        width: 35px;
        height: 35px;
        right: 7px;
        top: 2px;
        color: #fff;
        background-color: transparent;
        border: none;
        outline: none;
        animation: elAnim 0.5s ease-in 0.25s both;
      }
    }

    .card-forecast-info {
      text-align: center;
      img {
        max-width: 170px;
        padding: 10px 0px;
        animation: elAnim 0.5s ease-in 0.3s both;
      }

      .temperature {
        font-size: 65px;
        font-weight: 700;
        letter-spacing: -6px;
        animation: elAnim 0.5s ease-in 0.6s both;
        .celsius {
          font-size: 15px;
          vertical-align: 40px;
        }
      }
    }
    h3 {
      font-size: 30px;
      animation: elAnim 0.5s ease-in 0.9s both;
    }
    .column-wrapper-values {
      display: flex;
      margin: 20px 0px;

      .column-values {
        display: flex;
        align-items: center;
        animation: elAnim 0.5s ease-in 1.3s both;
      }

      .column {
        h6 {
          font-size: 18px;
        }
        h6 + h6 {
          font-size: 14px;
        }
        .symbol {
          margin-right: 6px;
        }
      }
      .column-values:first-child {
        margin-right: 30px;
      }
    }
  }
}
.error-title {
  font-size: 165px;
  animation: elAnim 0.5s ease-in both;
  font-weight: 200;
  padding-top: 15px;
}
.error-subtitle {
  font-size: 20px;
  padding: 5px 0px;
  font-weight: 200;
  animation: elAnim 0.5s ease-in 0.3s both !important;
}
.error-par {
  font-size: 15px;
  color: #f88c37;
  padding: 10px 0px;
  animation: elAnim 0.5s ease-in 0.6s both;
}
@media (max-width: 768px) or (orientation: portrait) {
  body {
    background: center/cover url('../img/background/background-mobile.webp') no-repeat !important;
  }
}
@media (max-width: 768px) {
  .symbol {
    vertical-align: 20px !important;
  }
  .card-forecast {
    padding: 20px 0.7rem !important;
  }
}
.el-anim {
  filter: blur(5px);
  opacity: 0;
  transform: translateY(10px);
}
.el-anim_left {
  filter: blur(5px);
  opacity: 0;
  transform: translateX(-10px);
}
.el-anim_right {
  filter: blur(5px);
  opacity: 0;
  transform: translateX(10px);
}
@keyframes elAnim {
  to {
    filter: blur(0px);
    opacity: 1;
    transform: translate(0px);
  }
}
